@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <p>Aplikacja zaliczeniowa</p>
    <p>Aplikacja wyświetla z bazy klientów liste zamówień klienta i formularz do zmiany statusu zamówień wyświetlanie klientów podzielone jest na strony</p>
    <p>Obsługa użytkowników pozwala na dodanie użytkownika dodany użytkownik może przeglądać zawartość wyświetlaną z bazy</p>
    <p>użykownik admin o haśle admin ma dostęp do przeglądania użytkowników zmiany ich loginów haseł oraz ich usówania</p>
</div>