@model TModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Form</h2>
            <form action="Result" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="x">Podaj imię</label>
                    <input class="form-control" type="number" name="Name" step="0.00001" id="x"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="y">Podaj date urodzin</label>
                    <input class="form-control" type="number" name="Date" step="0.00001" id="y"/>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>